body{
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    background: linear-gradient(#ffdde1 , #ee9ca7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.card{
    width: 300px;
    height: 200px;
    perspective: 1000px;
}
.card .front,
.card .back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 3);
    transition: transform 1s, opacity 1s;
}
.card .back{
    background: #ffefc4;
    transform: rotateY(180deg);
}
.card.flipped .front{
    transform: rotateY(180deg);
}
.card.flipped .back{
    transform: rotateY(0deg);
    transition-delay: 0.3s;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: #ff9aa2;
    color: #fff;
    border-radius: 8px;
    transition: transform 0.2s;
}
button:hover{
    transform: scale(1.1);
}
#message{
    font-size: 18px;
    color: #d6336c;
    margin-top: 15px;
    opacity: 0;
    transition: opacity 1s;
}
#message.show{
    opacity: 1;
}
.heart{
    position: absolute;
    font-size: 20px;
    color: #ff4da6;
    animation: floatUp 3s linear forwards;
}
@keyframes floatUp{
 0%{
        transform: translateY(0) scale(1);
        opacity: 1;
 }
 100%{
    transform: translateY(-500px) scale(1.5);
    opacity: 0;
 }
}